<header>
    <div class="header_container">
        <section class="header_left">
            <div class="header_logo f-center">
                <img src="/img/logo.svg" alt="logo">
            </div>
            <div class="header_nav">
                <a class="t_post-text" href="#">главная</a>
                <a class="t_post-text" href="#">лента</a>
            </div>
        </section>
        <section class="header_right f f-js-end f-al-center">
            <!-- <a class="button-1" href="#">create post</a> -->
            <div class="user_block h100 f-center">

                <div class="userBlock h100 f-center">
                    <div class="user_block_name">
                        <a href="/account/profile" id="usernameText" class="t_page_title" style="font-size: 20px;">
                            Loading...
                        </a>
                    </div>
                    <div class="user_block_img"></div>
                </div>

                <div class="authButtonBlock h100 f f-center t_post-text">
                    <a class="small_button1" href="/auth/login">log in</a>
                    <span style="margin: 0 5px 0 5px;">/</span>
                    <a class="small_button1" href="/auth/signup">sign up</a>
                </div>

            </div>
        </section>
    </div>
    <script src="/js/header.js"></script>
</header>




   






















