<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/global.css">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/account.css">
    <title>My profile</title>
</head>

<body>
    <%- include ('block/header.ejs') -%>
    <div class="wrapper">
        <div class="container">
            <section class="page_title_wrap block_border f f-js-between">
                <div class="page_title h100 f f-al-center">
                    <h2 class="t_page_title">Мой профиль</h2>
                </div>
                <div class="button_wrapper f f-al-center">
                </div>
            </section>
            <section class="block_border account_wrapper register_block f f-column">
                <div>
                    <span class="updateData" data-area="username">Loading...</span>
                </div>
                <div>
                    <span>e-mail:</span>
                    <span class="updateData" data-area="email">Loading...</span>
                </div>
                <div>
                    <span>password:</span>
                    <span class="updateData" data-area="password">Loading...</span>
                </div>
            </section>
        </div>
    </div>

    <script src="/js/profile.js"></script>
</body>























